<%- include("partials/header")  %> 
<%- include("partials/navbar")  %> 
<h1>Here are some great places nearby:</h1>
<p><a href="/">Search again?</a></p>
<% for( let index = 0; index < 10; index++ ) { %>
    <% let name =  data[index].name%> 
    <% let url =  data[index].url%> 
    <% let rating =  data[index].rating%> 
    <% let numberOfFullstars = Math.floor(rating) %> 
    <% let hasHalfStar = rating % 1 %> 
    <h3>
        <span><a href="<%= url %> "><%= name %></a></span>
        <% for( let index = 0; index < numberOfFullstars; index++ ) { %>
            <i class="fas fa-star"></i>
        <% } %>
        <% if (hasHalfStar) { %>
            <i class="fas fa-star-half"></i>
        <% } %>
        
    </h3>

<% } %>

<%- include("partials/footer")  %> 